<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex gap-2 my-3 justify-content-center form-group">
    <% form.label :description %>
    <%= form.text_field :description, id: :list_description, class: 'fs-5 form-control w-50' %>
    
    <div class="border rounded bg-light p-2 btn-group" role="group">
      <%= form.check_box :completed, id: :list_completed, class: 'btn-check' %>
      <%= form.label 'Completed?', class: 'btn btn-outline-success', for: :list_completed %>
    </div>
    <%= form.submit 'Save Challenge', class: 'btn btn-secondary' %>
  </div>
<% end %>
