
<%# <h1 class="text-center fw-bold m-3 p-1 border border-2 bg-success text-white">Challenges List</h1> %>

<%= render 'form_index', list: @list %>

<table class="table table-bordered table-hover table-light table-responsive">
  <thead>
    <tr class="fs-5 text-center">
      <th>Challenge</th>
      <th>Achievement Unlocked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="align-middle">
    <% @lists.each do |list| %>

      <% if list.completed %>
      <tr class="table-secondary">
        <td class="fs-6 text-muted text-center"><%= list.description %></td>
        <td class="text-center fw-bold text-success fs-5">✓</td>
        <td>
          <% link_to 'View', list, class: 'btn btn-outline-secondary' %>
          <center><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></center>
        </td>
      </tr>
      <% else %>
      <tr>
        <td class="fs-6"><%= link_to list.description, edit_list_path(list), class: 'btn btn-outline-secondary d-grid' %></td>
        <td class="text-center fw-bold fs-5">✗</td>
        <td>
          <% link_to 'View', list, class: 'btn btn-outline-secondary' %>
          <center><%= link_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></center>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
